
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

@section SectionTitle {
    Order confirmation
    }

<div style="margin-top: 100px; text-align:center">
    Thanks ! Your order will be send in next 24 hours.
</div>

