@using MvcSiteMapProvider.Web.Html
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="CategoriesListContent">
    @Html.Action("CategoriesMenu")
    <div id="CategoriesListRightSection">
        <div id="Breadcrumb">
            <img src="../Content/Images/dommaly.png" />
            <a href="link">
                @Html.MvcSiteMap().SiteMapPath()
            </a>
        </div>
        <div id="SectionCategoriesList">
           @Html.Partial("_CoursesList")
        </div>
    </div>
</div>